<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <body id='animals'>
      <% @animals.each do |animal| %>
        <%= link_to animal_info(animal), animal, class: 'animal' %>
      <% end %>
    </body>

  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
